.dashbordlist li {
  margin-top: 15px;
  cursor: pointer;
}
.dashbordlist li:hover {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
/* #outlined-password-input{
    height:2px;
} */
#Cardimg {
  /* content: url(./../../assets/shirt3.jpg); */
  background-size: cover; /* Change from 'cover' to 'contain' */
  background-position: center center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  height: 200px;
}
.cardBody {
  height: 100px;
}
.updatebtn {
  background-color: darkturquoise !important;
  color: white !important;
  font-weight: bold !important ;
}
.deletebtn {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}

@media (max-width: 840px) {
  .displayOrder div {
    flex-direction: column;
  }
}

.status:hover {
  background-color: rgb(221, 156, 15);
  padding: 5;
}

@media (max-width: 580px) {
  .menu {
    width: 30% !important;
  }
}

@media (max-width: 522px) {
  .menu {
    width: 26% !important;
    /* display: none; */
  }
}

@media (max-width: 430px) {
  .menu {
    width: 15% !important;
  }
}

@media (max-width: 590px) {
  .textDashboeard {
    width: 200px !important;
  }
  .dashboard-content {
    width: 60%;
  }
  .headingPoroduct h1 {
    font-size: 14px;
  }
}

@media (max-width: 372px) {
  .textDashboeard {
    width: 150px !important;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }
  .ModalMenu {
    display: block !important;
  } 
}
