/* @media (max-width: 630px) {
  .menu {
    width: 15% !important;
  }
}
 */

 @media (max-width: 700px) {
  .Adminmenu {
   display: none !important;
  }
  .profileDiv{
    width: 90% !important;
  }
}

/* @media (max-width: 650px) {
  .Adminmenu {
   display: none !important;
  }
} */